Act2/Concesionario.dtd

<!ELEMENT Concesionario (coches*)>
<!ELEMENT coches (codigoCoche,marca,modelo,matricula,potencia,plazas,numeroPuertas)>
<!ELEMENT codigoCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)> 
<!ELEMENT potencia (#PCDATA)> 
<!ELEMENT plazas (#PCDATA)> 
<!ELEMENT numeroPuertas (#PCDATA)> 